.taskItem {
width: 100%;
border: 1px solid #000;
display: flex;
justify-content: space-around;
align-items: center;
transition: all 0.3s ease 0s;padding: 10px;

&:hover {
	background-color: rgba($color: #c9c9c9, $alpha: 0.3);
	transform: translateY(3px);
}
}

.content {
	flex: 1;
}

.icon,.iconEdit {
padding: 10px;
&:hover {
	fill: red;
	transform: scale(1.3);
}
}
.taskTitle {
margin: 0;
// padding: 10px;
}

.bodyTask {

}

.taskAuthor {

}